#services_form
  = form_for @service, html: {class: 'form-horizontal', id: 'service_edit_form'} do |f|
    - if @service.errors.any?
      #error_explanation
        %h2 #{pluralize(@service.errors.count, 'error')} prohibited this service from being saved:
        %ul
          - @service.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      =f.label :tag, {class: "col-sm-2 control-label"}
      .col-sm-4
        =f.text_field :tag, {class: "form-control"}
    .form-group
      =f.label :host, {class: "col-sm-2 control-label"}
      .col-sm-4
        =f.text_field :host, {class: "form-control"}
    .form-group
      =f.label :port, {class: "col-sm-2 control-label"}
      .col-sm-4
        =f.text_field :port, {class: "form-control"}
    .form-group
      =f.label :protocol, {class: "col-sm-2 control-label"}
      .col-sm-4
        =f.select :protocol, Service.protocols.keys.to_a, {}, class: ["form", "form-control"]
    .form-group
      =f.label "Secure Credential", {class: "col-sm-2 control-label"}
      .col-sm-4
        =f.select :secure_cred_id, SecureCred.all.map { |secure_cred| [secure_cred.tag, secure_cred.id] }, {}, class: ["form", "form-control"]
    .form-group
      -#=f.label :active, {class: "col-sm-2 control-label"}
      .col-sm-offset-2.col-sm-10
        .checkbox
          %label
            =f.check_box :active
            Active?
    .form-group
      .col-sm-offset-2.col-sm-10
        =f.submit class: "btn btn-primary"
        =link_to "Cancel", "#{admin_path}#services", {:class=>"btn btn-default"}
