.row
  -# DKIM result with alignment considerations
  .form-group.col-sm-4
    %label.control-label(for="dkim") DMARC Evaluated DKIM
    %a{href: "#"}
      %span.glyphicon.glyphicon-question-sign{"data-toggle": "tooltip", "data-original-title": "DKIM Policy Evaluation with alignment considerations"}
      %select#dkim.form-control.col-sm-2(name="dkim" form="search_form")
        %option(value="") Any
        %option(value="pass") Pass
        %option(value="fail") Fail

  -# DKIM result without alignment considerations.
  .form-group.col-sm-4
    %label.control-label(for="dkim_result") Dkim Result
    %a{href: "#"}
      %span.glyphicon.glyphicon-question-sign{"data-toggle": "tooltip", "data-original-title": "DKIM result without alignment considerations"}
      %select#dkim_result.form-control.col-sm-2(name="dkim_result" form="search_form")
        %option(value="") Any
        %option(value="pass") Pass
        %option(value="fail") Fail
        %option(value="policy") Policy
        %option(value="neutral") Neutral
        %option(value="temperror") TempError
        %option(value="permerror") PermError

  -# DKIM Domain Search Field
  .form-group.col-sm-4
    %label.control-label(for="dkim_domain") DKIM Domain
    %a{href: "#"}
      %span.glyphicon.glyphicon-question-sign{"data-toggle": "tooltip", "data-original-title": "Domain of DKIM signature present in 'd=' field (RFC6376 3.5)"}
      %input#dkim_domain.form-control(type="text" name="dkim_domain" form="search_form"){placeholder: "example.com"}
