.row
  .form-group.col-sm-4
    %label.control-label(for="dmarc_disposition") DMARC Disposition
    %a{href: "#"}
      %span.glyphicon.glyphicon-question-sign{"data-toggle": "tooltip", "data-original-title": "DMARC Policy Evaluation"}
      %select#dmarc_disposition.form-control(name="disposition" form="search_form")
        %option(value="") Any
        %option(value="none") None
        %option(value="quarantine") Quarantine
        %option(value="reject") Reject
  .form-group.col-sm-4
    %label.control-label(for="dmarc_predicted_disposition") Predicted DMARC Disposition
    %a{href: "#"}
      %span.glyphicon.glyphicon-question-sign{"data-toggle": "tooltip", "data-original-title": "DMARC Policy Evaluation if policy were q or r."}
      %select#dmarc_disposition.form-control(name="predicted_disposition" form="search_form")
        %option(value="") Any
        %option(value="true") Inbox Delivered
        %option(value="false") Quarantine/Reject
  .form-group.col-sm-4
    %label.control-label(for="header_from_domain") Header From Domain
    %a{href: "#"}
      %span.glyphicon.glyphicon-question-sign{"data-toggle": "tooltip", "data-original-title": "Domain of FROM header (RFC5322.FROM)."}
      %input#header_from_domain.form-control(type="text" name="header_from" form="search_form"){placeholder: "example.com"}
