.panel-group{id: "accordion", role: "tablist", "aria-multiselectable": "true"}
  .panel.panel-default
    .panel-heading{id: "heading-spf-help", role: "tab"}
      %h3.panel-title
        %a.collapsable{"role": "button", "data-toggle": "collapse", "data-parent": "#accordion", "href": "#collapse-dmarc-help", "aria-expanded": "true", "aria-controls": "collapse-dmarc-help"}
          DMARC Help
    .panel-collapse.collapse{id: "collapse-dmarc-help", role: "tabpanel", "aria-labelledby": "heading-dmarc-help"}
      .list-group
        %li
          %strong
            DMARC Disposition
          \- DMARC result of the receiving MTA.
        %li
          %strong
            Predicted DMARC Disposition
          \- Useful when the DMARC policy (p= tag) is defined as none. Evaluates what would happen if the policy was set to quarantine (p=quarantine) or reject (p=reject).
        %li
          %strong
            Header From Domain
          \- Domain used to evaluate Header From (RFC5322.FROM).  This is used by DMARC to evaluate SPF and DKIM alignment, together with raw DKIM and SPF results.
.panel-group{id: "accordion", role: "tablist", "aria-multiselectable": "true"}
  .panel.panel-default
    .panel-heading{id: "heading-spf-help", role: "tab"}
      %h3.panel-title
        %a.collapsable{"role": "button", "data-toggle": "collapse", "data-parent": "#accordion", "href": "#collapse-spf-help", "aria-expanded": "true", "aria-controls": "collapse-spf-help"}
          SPF Help
    .panel-collapse.collapse{id: "collapse-spf-help", role: "tabpanel", "aria-labelledby": "heading-spf-help"}
      .list-group
        %li
          %strong
            DMARC Evaluated SPF
          \- DMARC interpretation of SPF. Evaluation is dependent upon aspf value in DMARC record.
          Relaxed (default) means that the envelope from and header from have to belong to the same root domain.
          Strict enforces exact domain matching for envelope from and header from domains.
        %li
          %strong
            SPF Result
          \- Raw results of SPF. Evaluation ensures that envelope sender domain is permitted from IP addresses defined in SPF record.
        %li
          %strong
            SPF Domain
          \- Domain used by the envelope from
.panel-group{id: "accordion", role: "tablist", "aria-multiselectable": "true"}
  .panel.panel-default
    .panel-heading{id: "heading-dkim-help", role: "tab"}
      %h3.panel-title
        %a.collapsable{"role": "button", "data-toggle": "collapse", "data-parent": "#accordion", "href": "#collapse-dkim-help", "aria-expanded": "true", "aria-controls": "collapse-dkim-help"}
          DKIM Help
    .panel-collapse.collapse{id: "collapse-dkim-help", role: "tabpanel", "aria-labelledby": "heading-dkim-help"}
      .list-group
        %li
          %strong
            DMARC Evaluated DKIM
          \- DMARC interpretation of DKIM signature. Evaluation is dependent upon adkim value in DMARC record.
          Relaxed (default) means that the SDID domain (d= tag) and header from have to belong to the same root domain.
          Strict enforces exact domain matching for SDID domain (d= tag) and header from domains.
        %li
          %strong
            DKIM Result
          \- Raw results of DKIM signature. Purely evaluates whether the DKIM signature is valid.
        %li
          %strong
            DKIM Domain
          \- Domain used to to define the SDID (d= tag) for the DKIM signature.
