.row
  -# SPF Result with alignment considerations
  .form-group.col-sm-4
    %label.control-label(for="spf_result") DMARC Evaluated SPF
    %a{href: "#"}
      %span.glyphicon.glyphicon-question-sign{"data-toggle": "tooltip", "data-original-title": "SPF Policy Evaluation with alignment considerations"}
      %select#spf_result.form-control.col-sm-2(name="spf" form="search_form")
        %option(value="") Any
        %option(value="pass") Pass
        %option(value="fail") Fail

  -# SPF Result without alignment considerations
  .form-group.col-sm-4
    %label.control-label(for="spf_result") SPF Result
    %a{href: "#"}
      %span.glyphicon.glyphicon-question-sign{"data-toggle": "tooltip", "data-original-title": "SPF result without alignment considerations."}
      %select#spf_result.form-control.col-sm-2(name="spf_result" form="search_form")
        %option(value="") Any
        %option(value="none") None
        %option(value="neutral") Neutral
        %option(value="pass") Pass
        %option(value="fail") Fail
        %option(value="temperror") TempError
        %option(value="permerror") PermError

  -# SPF Domain Search Field
  .form-group.col-sm-4
    %label.control-label(for="search_spf_domain") SPF Domain
    %a{href: "#"}
      %span.glyphicon.glyphicon-question-sign{"data-toggle": "tooltip", "data-original-title": "Domain of Envelope Sender (RFC5321.MAILFROM)."}
      %input#search_spf_domain.form-control(type="text" name="spf_domain" form="search_form"){placeholder: "example.com"}
