%h1 Exploration
.row
  = form_tag({action: :results}, method: :get, class: 'col-sm-8', id: "search_form") do
    = render(partial: 'dmarc')
    = render(partial: 'spf')
    = render(partial: 'dkim')
    .row
      .form-group.col-sm-4
        %label.control-label(for="search_start_date") Start Date
        %a{href: "#"}
          %span.glyphicon.glyphicon-question-sign{"data-toggle": "tooltip", "data-original-title": "Start date for records reported"}
          %input#search_start_date.form-control(type="date" name="start_date" form="search_form"){placeholder: "example.com"}
      .form-group.col-sm-4
        %label.control-label(for="search_end_date") End Date
        %a{href: "#"}
          %span.glyphicon.glyphicon-question-sign{"data-toggle": "tooltip", "data-original-title": "End date for records reported"}
          %input#search_end_date.form-control(type="date" name="end_date" form="search_form"){placeholder: "example.com"}
    .row
      .form-group.col-sm-4
        %button#search_submit.btn.btn-primary(type="submit" form="search_form") Search
  .help.col-sm-4
    =render(partial: 'help')
