%html
  %head
    = stylesheet_link_tag 'https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css'
    = javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js'
    = javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js'
    = javascript_include_tag params[:controller]

%h1 Search Results
.table-wrapper
  %table.table-bordered.table-striped#records
    %thead
      %tr
        %th.text-center
          \#
        %th.text-center
          Domains
        %th.text-center
          Disposition
        %th.text-center
          Authentication
        %th.text-center
          Sender Data
        -#%th.text-center
          Reporting Organization
    %tbody
      - @records.each do |record|
        %tr
          %td
            = record.count
          %td
            %dl.dl-horizontal
              %dt From Header
              %dd
                = record.header_from
              %dt SPF
              %dd
                = record.spf_domain
              %dt DKIM
              %dd
                = record.dkim_domain
          %td
            %dl.dl-horizontal
              %dt DMARC
              %dd
                = record.disposition
              %dt SPF
              %dd
                = record.spf
              %dt DKIM
              %dd
                = record.dkim
          %td
            %dl.dl-horizontal
              %dt SPF
              %dd
                = record.spf_result
              %dt DKIM
              %dd
                = record.dkim_result
          %td
            %dl.dl-horizontal
              %dt Source IP
              %dd
                = record.source_ip
              %dt ASN
              %dd
                = "#{record.aso} (#{record.asn})"
              %dt Country
              %dd
                = "#{record.country_name} (#{record.country_iso_code})"
          -#%td
            =record.report.org_name
