#networks_form
  = form_for @network, html: {class: 'form-horizontal', id: 'network_edit_form'} do |f|
    - if @network.errors.any?
      #error_explanation
        %h2 #{pluralize(@network.errors.count, 'error')} prohibited this secure credential from being saved:
        %ul
          - @network.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      =f.label :cidr, {class: "col-sm-2 control-label"}
      .col-sm-4
        =f.text_field :cidr, {class: "form-control"}
    .form-group
      =f.label :display_name, {class: "col-sm-2 control-label"}
      .col-sm-4
        =f.text_field :display_name, {class: "form-control"}
    .form-group
      =f.label :status, {class: "col-sm-2 control-label"}
      .col-sm-4
        =f.select(:status, Network.statuses.keys.sort.map {|status| [status.titleize, status]}, {}, class: ["form", "form-control"])

    .form-group
      .col-sm-offset-2.col-sm-10
        =f.submit class: "btn btn-primary"
        =link_to "Cancel", "#{admin_path}#networks", {:class=>"btn btn-default"}
