%html
  %head
    = stylesheet_link_tag 'https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css'
    = javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js'
    = javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js'
    = javascript_include_tag params[:controller]

%h1 From Headers
.table-wrapper.bordered
  %table.table.table-condensed.table-striped.table-bordered.order-column#countries
    %thead
      %tr
        %td
          Country
        %td
          DMARC Pass
        %td
          DMARC Fail
        %td
          SPF Pass
        %td
          SPF Fail
        %td
          DKIM Pass
        %td
          DKIM Fail
        %td
          Total
    %tbody
      - @countries.keys.each do |country_iso_code|
        %tr
          %td
            =link_to(@countries[country_iso_code]['name'], country_path(country_iso_code))
          %td
            =@countries[country_iso_code]['dmarc_pass']
          %td
            =@countries[country_iso_code]['dmarc_fail']
          %td
            =@countries[country_iso_code]['spf_pass']
          %td
            =@countries[country_iso_code]['spf_fail']
          %td
            =@countries[country_iso_code]['dkim_pass']
          %td
            =@countries[country_iso_code]['dkim_fail']
          %td
            =@countries[country_iso_code]['total']
