%html
  %head
    = stylesheet_link_tag 'https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css'
    = javascript_include_tag 'https://www.gstatic.com/charts/loader.js'
    = javascript_include_tag('home.js')
    = javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js'
    = javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js'
%h1
  ="#{@country[0][0]} (#{@country[0][1]})"
%div.chart-wrapper.bordered.clearfix
  = render partial: "home/summaries" ,
    locals: { context: params[:controller],
      dmarc_actual_path: dmarc_actual_summary_charts_path(country_iso_code: @country[0][1]),
      dmarc_predicted_path: dmarc_predicted_summary_charts_path(country_iso_code: @country[0][1]),
      spf_summary_path: spf_summary_charts_path(country_iso_code: @country[0][1]),
      dkim_summary_path: dkim_summary_charts_path(country_iso_code: @country[0][1]),
      header_from_summary_path: header_from_summary_charts_path(country_iso_code: @country[0][1]),
      asn_summary_path: asn_summary_charts_path(country_iso_code: @country[0][1]),
      country_summary_path: country_summary_charts_path(country_iso_code: @country[0][1]) }
%h1
  Country Data
-#= render partial: "home/header_from_panels"
