%html
  %head
    = stylesheet_link_tag 'https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css'
    = javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js'
    = javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js'
    = javascript_include_tag params[:controller]

%h1 DMARC Aggregate Reports
%table.table{id: "records", data: { "table-url": record_index_url(:json) } }
  %thead
    %tr.column-filters
      %th
        .form-group.has-feedback
          %input.form-control.col-sm-1{placeholder: "Source IP"}
          %i.glyphicon.glyphicon-search.form-control-feedback
      %th
        .form-group.has-feedback
          %input.form-control{placeholder: "From Header"}
          %i.glyphicon.glyphicon-search.form-control-feedback
      -#%th
        .form-group.has-feedback
          %input.form-control{placeholder: "SPF Domain"}
          %i.glyphicon.glyphicon-search.form-control-feedback
      %th
        .form-group.has-feedback
          %input.form-control{placeholder: "SPF Disposition"}
          %i.glyphicon.glyphicon-search.form-control-feedback
      -#%th
        .form-group.has-feedback
          %input.form-control{placeholder: "DKIM Domain"}
          %i.glyphicon.glyphicon-search.form-control-feedback
      %th
        .form-group.has-feedback
          %input.form-control{placeholder: "DKIM Disposition"}
          %i.glyphicon.glyphicon-search.form-control-feedback
      %th
        .form-group.has-feedback
          %input.form-control{placeholder: "Autonomous System"}
          %i.glyphicon.glyphicon-search.form-control-feedback
    %tr.column-titles
      %th Source IP
      %th From Header
      -#%th SPF Domain
      %th SPF Dispostion
      -#%th DKIM Domain
      %th DKIM Disposition
      %th Autonomous System
  %tfoot
    %tr
      %th Source IP
      %th From Header
      -#%th SPF Domain
      %th SPF Dispostion
      -#%th DKIM Domain
      %th DKIM Disposition
      %th Autonomous System
-#.panel.panel-default.panel-bordered
  .panel-heading.clearfix
    .panel-title.pull-left
      %h4 Records
  %table.table.table-responsive
    %thead
      %tr
        %th
          From Header
        %th
          Source IP
        %th
          Organization (ASN)
        %th
          Disposition
        %th
          SPF Domain/Result
        %th
          DKIM Domain/Result
    %tbody
      - @records.each do |record|
        %tr
          %td
            = record.header_from
          %td
            = record.source_ip
          %td
            = "#{record.aso} (#{record.asn})"
          %td
            %dl.dl-horizontal
              %dt DMARC
              %dd
                = record.disposition
              %dt SPF
              %dd
                = record.spf
              %dt DKIM
              %dd
                = record.dkim
          %td
            %dl.dl-horizontal
              %dt Domain
              %dd
                = record.spf_domain
              %dt Result
              %dd
                = record.spf_result
          %td
            %dl.dl-horizontal
              %dt Domain
              %dd
                = record.dkim_domain
              %dt Result
              %dd
                = record.dkim_result
-#= will_paginate @records
