%h1 Record Details
-#.panel-group

.row
  .col-lg-6
    .panel.panel-default.panel-bordered
      .panel-heading.clearfix
        .panel-title.pull-left
          %h4 Metadata
      %table.table.table-responsive
        %tr
          %th Source IP
          %td
            =@record.source_ip_string
        %tr
          %th From Header
          %td
            =@record.header_from
        %tr
          %th Count
          %td
            =@record.count
        %tr
          %th DMARC Disposition
          %td
            =@record.disposition
        %tr
          %th SPF Disposition
          %td
            =@record.spf
        %tr
          %th DKIM Disposition
          %td
            =@record.dkim
  .col-lg-6
    .panel.panel-default.panel-bordered
      .panel-heading.clearfix
        .panel-title.pull-left
          %h4 Sending System
      %table.table.table-responsive
        %tr
          %th Autonomous System Organization
          %td
            =@record.aso
        %tr
          %th Autonomous System Number
          %td
            =@record.asn
        %tr
          %th Country (GeoData)
          %td
            ="#{@record.country_name} (#{@record.country_iso_code})"
        %tr
          %th City
          %td
            =@record.city|| "N/A"
        %tr
          %th Country (Registered)
          %td
            ="#{@record.registered_country_name} (#{@record.registered_country_iso_code})"
        %tr
          %th Location
          %td
            = link_to "Google Maps (Accuracy: #{@record.accuracy_radius} meters)", @record.gmaps_url, target: :_blank
.row
  .col-lg-6
    .panel.panel-default
      .panel-heading.clearfix
        .panel-title.pull-left
          %h4 SPF Data

      %table.table.table-responsive
        %tr
          %th Domain
          %td
            =@record.spf_domain|| "N/A"
        %tr
          %th Result
          %td
            =@record.spf_result|| "N/A"


  .col-lg-6
    .panel.panel-default
      .panel-heading.clearfix
        .panel-title.pull-left
          %h4 DKIM Data
      %table.table.table-responsive
        %tr
          %th Domain
          %td
            =@record.dkim_domain|| "N/A"
        %tr
          %th Result
          %td
            =@record.dkim_result|| "N/A"


.row
  .col-lg-6
    .panel.panel-default
      .panel-heading.clearfix
        .panel-title.pull-left
          %h4 Report Data

      %table.table.table-responsive
        %tr
          %th Reporting Organization
          %td
            =@report.org_name
        %tr
          %th Email Contact
          %td
            =@report.email
        %tr
          %th Extra Contact Info
          %td
            =@report.extra_contact_info
        %tr
          %th Time Frame
          %td
            = "#{@report.begin} to #{@report.end}"


  .col-lg-6
    .panel.panel-default
      .panel-heading.clearfix
        .panel-title.pull-left
          %h4 Published Policy
      %table.table.table-responsive
        %tr
          %th Domain
          %td
            =@policy_published.domain
        %tr
          %th SPF Alignment
          %td
            =@policy_published.aspf
        %tr
          %th DKIM Alignment
          %td
            =@policy_published.adkim
        %tr
          %th Policy/Percentage
          %td
            ="#{@policy_published.p}/#{@policy_published.pct}"
