.panel-group{"id": "accordion", "role": "tablist", "aria-multiselectable": "true"}
  - @asn.spf_summary.keys.sort.each do |domain|
    .panel.panel-default
      .panel-heading{"id": "heading-#{domain.gsub(/\./,"-")}", "role": "tab"}
        %h3.panel-title
          %a.collapsable{"role": "button", "data-toggle": "collapse", "data-parent": "#accordion", "href": "#collapse-#{domain.gsub(/\./,"-")}", "aria-expanded": "true", "aria-controls": "collapse-#{domain.gsub(/\./,"-")}"}
            %span.glyphicon.glyphicon-chevron-right
            = domain
      .panel-collapse.collapse.out.clearfix{"id": "collapse-#{domain.gsub(/\./,"-")}", "role": "tabpanel", "aria-labelledby": "heading-#{domain.gsub(/\./,"-")}"}
        .row
          = render partial: 'from_headers/searchbar' ,
            locals: {custom: true,
              custom_id: "search-#{domain.gsub(/\./,"-")}",
              custom_class: 'datatable-search',
              data_spf: "spf-#{domain.gsub(/\./,"-")}",
              data_dkim: "dkim-#{domain.gsub(/\./,"-")}"}
        .row
          .panel-body.col-md-6
            %table.table.compact.table-striped.order-column.table-datatable{"id": "spf-#{domain.gsub(/\./,"-")}"}
              %thead
                %tr
                  %td
                    SPF Domain (Envelope Address)
                  %td
                    Pass
                  %td
                    Neutral
                  %td
                    SoftFail
                  %td
                    Fail
                  %td
                    None
                  %td
                    TempError
                  %td
                    PermError
              %tbody
                - @asn.spf_summary[domain].keys.sort.each do |spf_domain|
                  %tr
                    %td.domain
                      %span
                        =spf_domain
                    %td
                      =@asn.spf_summary[domain][spf_domain]['pass']
                    %td
                      =@asn.spf_summary[domain][spf_domain]['neutral']
                    %td
                      =@asn.spf_summary[domain][spf_domain]['softfail']
                    %td
                      =@asn.spf_summary[domain][spf_domain]['fail']
                    %td
                      =@asn.spf_summary[domain][spf_domain]['none']
                    %td
                      =@asn.spf_summary[domain][spf_domain]['temperror']
                    %td
                      =@asn.spf_summary[domain][spf_domain]['permerror']

          .panel-body.col-md-6
            %table.table.compact.table-striped{"id": "dkim-#{domain.gsub(/\./,"-")}"}
              %thead
                %tr
                  %td
                    DKIM Domain (Envelope Address)
                  %td
                    Pass
                  %td
                    Fail
                  %td
                    None
                  %td
                    Policy
                  %td
                    Neutral
                  %td
                    TempError
                  %td
                    PermError
              %tbody
                - @asn.dkim_summary[domain].keys.sort.each do |dkim_domain|
                  %tr
                    %td.domain
                      %span
                        =dkim_domain
                    %td
                      =@asn.dkim_summary[domain][dkim_domain]['pass']
                    %td
                      =@asn.dkim_summary[domain][dkim_domain]['fail']
                    %td
                      =@asn.dkim_summary[domain][dkim_domain]['none']
                    %td
                      =@asn.dkim_summary[domain][dkim_domain]['policy']
                    %td
                      =@asn.dkim_summary[domain][dkim_domain]['neutral']
                    %td
                      =@asn.dkim_summary[domain][dkim_domain]['temperror']
                    %td
                      =@asn.dkim_summary[domain][dkim_domain]['permerror']
