%h3.chart-title Summary
.row
  %div.col-md-6.chart#dmarc_actual{ data: { graph_data: dmarc_actual_path,
    graph_type: 'pie',
    graph_options: '{ "is3D": "true",
      "legend": {"position":"right", "alignment": "center"},
      "title": "DMARC Actual" }' } }
  %div.col-md-6.chart#dmarc_predicted{ data: { graph_data: dmarc_predicted_path,
    graph_type: 'pie',
    graph_options: '{ "is3D": "true",
      "legend": {"position":"right", "alignment": "center"},
      "title": "DMARC Predicted" }' } }

.row
  %div.col-md-6.chart#spf_summary{ data: { graph_data: spf_summary_path,
  graph_type: 'pie',
  graph_options: '{ "is3D": "true",
    "legend": {"position": "right", "alignment": "center"},
    "title": "SPF Statuses"}' } }
  %div.col-md-6.chart#dkim_summary{ data: { graph_data: dkim_summary_path,
  graph_type: 'pie',
  graph_options: '{ "is3D": "true",
    "legend": {"position": "right"},
    "title": "DKIM Statuses"}' } }

.row
  -case context
  -when "autonomous_system"
    %div.col-md-6.chart#header_from_summary{ data: { graph_data: header_from_summary_path,
      graph_type: 'pie',
      graph_options: '{ "is3D": "true",
        "legend": {"position": "right", "alignment": "center"},
        "title": "From Headers"}' } }
    %div.col-md-6.chart#country_summary{ data: { graph_data: country_summary_path,
      graph_type: 'pie',
      graph_options: '{ "is3D": "true",
        "legend": {"position": "right", "alignment": "center"},
        "title": "Countries"}' } }
  -when "from_headers"
    %div.col-md-6.chart#asn_summary{ data: { graph_data: asn_summary_path,
      graph_type: 'pie',
      graph_options: '{ "is3D": "true",
        "legend": {"position": "right", "alignment": "center"},
        "title": "Autonomous Systems"}' } }
    %div.col-md-6.chart#country_summary{ data: { graph_data: country_summary_path,
      graph_type: 'pie',
      graph_options: '{ "is3D": "true",
        "legend": {"position": "right", "alignment": "center"},
        "title": "Countries"}' } }
  -when "country"
    %div.col-md-6.chart#asn_summary{ data: { graph_data: asn_summary_path,
      graph_type: 'pie',
      graph_options: '{ "is3D": "true",
        "legend": {"position": "right", "alignment": "center"},
        "title": "Autonomous Systems"}' } }
    %div.col-md-6.chart#header_from_summary{ data: { graph_data: header_from_summary_path,
      graph_type: 'pie',
      graph_options: '{ "is3D": "true",
        "legend": {"position": "right", "alignment": "center"},
        "title": "From Headers"}' } }
