%html
  %head
    = javascript_include_tag 'https://www.gstatic.com/charts/loader.js'
    = javascript_include_tag params[:controller]
%h1 Home
%div.chart-wrapper.bordered.clearfix
  = render partial: "home/summaries" ,
    locals: { context: params[:controller],
      dmarc_actual_path: dmarc_actual_summary_charts_path,
      dmarc_predicted_path: dmarc_predicted_summary_charts_path,
      spf_summary_path: spf_summary_charts_path,
      dkim_summary_path: dkim_summary_charts_path,
      header_from_summary_path: header_from_summary_charts_path,
      asn_summary_path: asn_summary_charts_path,
      country_summary_path: country_summary_charts_path }
&nbsp
%div.chart-wrapper.bordered.clearfix
  %h3.chart-title Autonomous Systems
  %div.col-md-12.chart.chart-lg#top_asn_paginated{ data: { graph_data: top_asn_charts_path,
    graph_type: 'bar',
    graph_pagination: '{ "enabled": "true",
      "pageSize": 10 }',
    graph_options: '{ "animation": { "duration": "250 ",
      "easing": "out",
      "startup": "true" },
      "chartArea": { "height": "90%",
        "width": "100%",
        "left": "10%"},
      "legend": { "position": "top",
        "alignment": "right" }}',
    graph_view: '[ 0,
      1,
      { "sourceColumn": 2,
      "type": "string",
      "role": "annotationText"}]' } }
  %a.btn.btn-primary.pull-left#prev_button
    %span.glyphicon.glyphicon-step-backward
    Previous
  %a.btn.btn-primary.pull-right#next_button
    %span.glyphicon.glyphicon-step-forward
    Next

&nbsp
%div.chart-wrapper.bordered.clearfix
  %h3.chart-title Activity by Country
  %div.col-md-12.chart.chart-lg#country_summary{ data: { graph_data: country_summary_charts_path,
    graph_type: 'geochart',
    graph_options: '{ "animation": { "duration": "500",
      "easing": "in",
      "startup": "true" },
      "chartArea": { "height": "90%",
        "width": "100%",
        "left": "10%"},
      "legend": { "position": "top",
        "alignment": "right" }}',
        graph_view: '[ 0,
          1,
          { "sourceColumn": 2,
          "type": "string",
          "role": "annotationText"}]' } }
-#%h3.chart Activity by Country
-#%div.chart.bordered#asn_table{ data: { graph_data: country_summary_charts_path, graph_type: 'column' } }
-#%div.chart-wrapper.bordered.clearfix
  %h3.chart-title Summary
  .row
    %div.col-md-6.chart#dmarc_actual{ data: { graph_data: dmarc_actual_summary_charts_path,
      graph_type: 'pie',
      graph_options: '{ "is3D": "true",
        "legend": {"position":"right"},
        "title": "DMARC Actual" }' } }
    %div.col-md-6.chart#dmarc_predicted{ data: { graph_data: dmarc_predicted_summary_charts_path,
      graph_type: 'pie',
      graph_options: '{ "is3D": "true",
        "legend": {"position":"right"},
        "title": "DMARC Predicted" }' } }
  .row
    %div.col-md-4.chart#spf_summary{ data: { graph_data: spf_summary_charts_path,
    graph_type: 'pie',
    graph_options: '{ "is3D": "true",
      "legend": {"position": "right"},
      "title": "SPF Statuses"}' } }
    %div.col-md-4.chart#dkim_summary{ data: { graph_data: dkim_summary_charts_path,
    graph_type: 'pie',
    graph_options: '{ "is3D": "true",
      "legend": {"position": "right"},
      "title": "DKIM Statuses"}' } }
    %div.col-md-4.chart#header_from_summary{ data: { graph_data: header_from_summary_charts_path,
      graph_type: 'pie',
      graph_options: '{ "is3D": "true",
        "legend": {"position": "right"},
        "title": "From Headers"}' } }
  %h3.chart-title Autonomous Systems
  %div.col-md-12.chart.chart-lg#top_asn_paginated{ data: { graph_data: top_asn_charts_path,
    graph_type: 'bar',
    graph_options: '{ "animation": { "duration": "500",
      "easing": "in",
      "startup": "true" },
      "chartArea": { "height": "90%",
        "width": "100%",
        "left": "10%"},
      "legend": { "position": "top",
        "alignment": "right" }}' } }
  %a.btn.btn-primary.pull-left#prev_button
    %span.glyphicon.glyphicon-step-backward
    Previous
  %a.btn.btn-primary.pull-right#next_button
    %span.glyphicon.glyphicon-step-forward
    Next
-#%div.chart-wrapper.bordered
  %h3.chart-title Activity by Country
  %div.chart.bordered#country_summary{ data: { graph_data: country_summary_charts_path, graph_type: 'column' } }
-#%h3.chart Activity by Country
-#%div.chart.bordered#asn_table{ data: { graph_data: country_summary_charts_path, graph_type: 'column' } }
