%form.navbar-form{role: "search", style: "display:inline-block;"}
  .form-group.input-group
    %input.form-control{type: "search", placeholder: "Search", id: "#{custom_id}", class: "#{custom_class}", data: {spf: "#{data_spf}", dkim: "#{data_dkim}"}}
