%html
  %head
    = stylesheet_link_tag 'https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css'
    = javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js'
    = javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js'
    = javascript_include_tag params[:controller]

%h1 From Headers
.table-wrapper.bordered
  %table.table.table-condensed.table-striped.table-bordered.order-column#from-headers
    %thead
      %tr
        %td
          From Header
        %td
          DMARC Pass
        %td
          DMARC Fail
        %td
          SPF Pass
        %td
          SPF Fail
        %td
          DKIM Pass
        %td
          DKIM Fail
        %td
          Total
    %tbody
      - @from_headers.keys.each do |domain|
        %tr
          %td
            =link_to(domain, "#{from_headers_url}/#{domain}")
          %td
            =@from_headers[domain]['dmarc_pass']
          %td
            =@from_headers[domain]['dmarc_fail']
          %td
            =@from_headers[domain]['spf_pass']
          %td
            =@from_headers[domain]['spf_fail']
          %td
            =@from_headers[domain]['dkim_pass']
          %td
            =@from_headers[domain]['dkim_fail']
          %td
            =@from_headers[domain]['total']
