%html
  %head
    = stylesheet_link_tag 'https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css'
    = javascript_include_tag 'https://www.gstatic.com/charts/loader.js'
    = javascript_include_tag('home.js')
    = javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js'
    = javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js'
%h1
  = params[:domain]
%div.chart-wrapper.bordered.clearfix
  = render partial: "home/summaries" ,
    locals: { context: params[:controller],
      dmarc_actual_path: dmarc_actual_summary_charts_path(header_from: params[:domain]),
      dmarc_predicted_path: dmarc_predicted_summary_charts_path(header_from: params[:domain]),
      spf_summary_path: spf_summary_charts_path(header_from: params[:domain]),
      dkim_summary_path: dkim_summary_charts_path(header_from: params[:domain]),
      header_from_summary_path: header_from_summary_charts_path(header_from: params[:domain]),
      asn_summary_path: asn_summary_charts_path(header_from: params[:domain]),
      country_summary_path: country_summary_charts_path(header_from: params[:domain]) }
