#secure_creds_form
  = form_for @secure_cred, html: {class: 'form-horizontal', id: 'secure_cred_edit_form'} do |f|
    - if @secure_cred.errors.any?
      #error_explanation
        %h2 #{pluralize(@secure_cred.errors.count, 'error')} prohibited this secure credential from being saved:
        %ul
          - @secure_cred.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      =f.label :tag, {class: "col-sm-2 control-label"}
      .col-sm-4
        =f.text_field :tag, {class: "form-control"}
    .form-group
      =f.label :username, {class: "col-sm-2 control-label"}
      .col-sm-4
        =f.text_field :username, {class: "form-control"}
    -#.form-group.row
      .col-sm-offset-2.col-sm-10
        .checkbox
          %label
            =f.check_box :is_key
            Is Key?
    .form-group
      =f.label :password, {class: "col-sm-2 control-label"}
      .col-sm-4
        =f.password_field :password, {class: "form-control"}
        =f.text_area :password, id: "text_password", value: '', cols: 65, rows: 30, disabled: true, style: 'display: none;'
    .form-group
      =f.label :password_confirmation, {class: "col-sm-2 control-label"}
      .col-sm-4
        = f.password_field :password_confirmation, {class: "form-control"}
        = f.text_area :password_confirmation, id: "text_password_confirmation", value: '', cols: 65, rows: 30, disabled: true, style: 'display: none;'
    .form-group
      .col-sm-offset-2.col-sm-10
        =f.submit class: "btn btn-primary"
        =link_to "Cancel", "#{admin_path}#secure_creds", {:class=>"btn btn-default"}
