/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*.dl-horizontal dt { text-align: left; }
*dt::after {
*  content: ":";
*}
*dt {
*    float: left;
*    clear: left;
*    text-align: right;
*    font-weight: bold;
*}
*dd {
*    margin: 0 0 0 110px;
*    padding: 0 0 0.5em 0;
*}
*/
dl.dl-horizontal {
	display: table;
  float: left;
	dt, dd {
		width: auto;
		overflow: visible;
	}
	dt {
		display: table-cell;
    float: left;
		text-align: left;
		white-space: nowrap;
		font-weight: 500;
		padding: 2% 5%;

	}
	dd {
		display: table-cell;
		padding: 2% 5%;
	}
}
.chart-wrapper.bordered {
  padding: 20px;
  border: 2px solid #012169;
  border-radius: 8px;
}
.table-wrapper.bordered {
  padding: 20px;
  border: 2px solid #012169;
  border-radius: 8px;
}
.chart-lg {
  padding: 20px;
  height: 600px;
}
h3.chart-title {
  color: #012169;
  text-align: center;
}
.top-buffer { margin-top:20px;}
.bottom-buffer { margin-bottom: 20px; }

.tab-content-bordered {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

.nav-tabs {
  margin-bottom: 0;
}
svg > g > g:not([column-id]):last-child {pointer-events: none}
