// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chart-wrapper.bordered {
  padding: 20px;
  //background-color: #B5B5B5;
  border: 2px solid #012169;
  border-radius: 8px;
  //height: 600px;
}
.chart {
  padding: 20px;
  //border: 2px solid #012169;
  //border-radius: 8px;
  //height: auto;
}
.chart-lg {
  padding: 20px;
  height: 600px;
}
h3.chart-title {
  color: #012169;
  text-align: center;
}
