// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//#records {
//  table-layout: fixed;
//  width: 100% !important;
//}
//#records td,
//#records th{
//  width: auto !important;
//  white-space: normal;
//  text-overflow: ellipsis;
//  overflow: hidden;
//}
.dl-horizontal dt {
  //text-align: left;
  //margin-left: 0px;
  word-wrap: ellipsis;
}

.dl-horizontal dd {
  text-align: left;
  word-wrap: ellipsis;
  //width: 50px;
}
