%html
  %head
    = stylesheet_link_tag 'https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css'
    = javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js'
    = javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js'
    = javascript_include_tag params[:controller]

%h1 Autonomous Systems
.table-wrapper.bordered
  %table.table.compact.table-striped.order-column#asns
    %thead
      %tr
        %td
          Autonomous System
        %td
          DMARC Pass
        %td
          DMARC Fail
        %td
          SPF Pass
        %td
          SPF Fail
        %td
          DKIM Pass
        %td
          DKIM Fail
        %td
          Total
    %tbody
      - @asns.keys.each do |asn|
        %tr
          %td
            =link_to(@asns[asn]['name'], autonomous_system_path(asn))
          %td
            =@asns[asn]['dmarc_pass']
          %td
            =@asns[asn]['dmarc_fail']
          %td
            =@asns[asn]['spf_pass']
          %td
            =@asns[asn]['spf_fail']
          %td
            =@asns[asn]['dkim_pass']
          %td
            =@asns[asn]['dkim_fail']
          %td
            =@asns[asn]['total']
