%html
  %head
    = stylesheet_link_tag 'https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css'
    = javascript_include_tag 'https://www.gstatic.com/charts/loader.js'
    = javascript_include_tag('home.js')
    = javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js'
    = javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js'
    = javascript_include_tag params[:controller]
%h1
  ="#{@asn.name} - #{@asn.number}"

.div.container.col-sm-12
  %ul.nav.nav-tabs
    %li.active
      %a{href: "#summaries", data: {toggle: "tab"} } Summaries
    %li
      %a{href: "#header_from", data: {toggle: "tab"} } From Headers
    -#%li
      %a{href: "#networks", data: {toggle: "tab"} } Networks
  .tab-content
    .tab-pane.active.clearfix{id: "summaries"}
      .chart-wrapper.clearfix
        = render partial: "home/summaries" ,
          locals: { context: params[:controller],
            dmarc_actual_path: dmarc_actual_summary_charts_path(asn: @asn.number),
            dmarc_predicted_path: dmarc_predicted_summary_charts_path(asn: @asn.number),
            spf_summary_path: spf_summary_charts_path(asn: @asn.number),
            dkim_summary_path: dkim_summary_charts_path(asn: @asn.number),
            header_from_summary_path: header_from_summary_charts_path(asn: @asn.number),
            asn_summary_path: asn_summary_charts_path(asn: @asn.number),
            country_summary_path: country_summary_charts_path(asn: @asn.number) }
    .tab-pane.clearfix{id: "header_from"}
      %h2
        Header From Data
      = render partial: "home/header_from_panels"
