<!DOCTYPE html>
<html>
  <head>
    <title>DmarcReport</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%=# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css'%>
    <%=# javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js'  %>
    <%= javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
